.sabkapapa{
    display: block;
    
}
.flexwali {
    justify-content: center;
}
.one-1{
    font-family: 'Original Factory';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 380%;
    line-height: 130px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #72509D;
}
.one-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 120%;
    line-height: 33px;
    text-align: center;
    color: #000000;
    width: 100%;
}
.linee{
    position: relative;
    left: 5.2%;
    width: 90%;
    height: 0px;
    
    top: 7px;
    border: 1px solid #C4C4C4;
}
.betapic {
    margin-left: 10px;
}
.two{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px !important;
    
}

.line1by2a{
    
    height: 0px;
    
    margin-top: 5%;
    margin-bottom: 6%;
    
    border: 1px solid #C4C4C4;
    
    
}

.leadslide{

    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 170%;
    /* identical to box height */
    
    color: #000000;
}
.borderTick {
    border: 1px solid ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;
}

.upertick{
    position: relative;
    top: 14%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    
    color: #818181
}
.nechatick{
    position: relative;
    bottom: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    
    text-transform: capitalize;
    
    color: #000000;
}

.textpic{
    display: flex;
}
.baripic{
    width: 100%;
    
}
.adress1{
    position: relative;
    left: 14%;
    top: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    
    text-transform: capitalize;
    
    color: #818181;
}
.adress2{
    position: relative;
    left: 14%;
    bottom: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    
    color: #000000;
}
.naqsha{
    width: 100%;
    height: 390px;
    
    .location {
        position: relative;
        right: -40%;
        bottom: 34%;
    }
    .mappa {
        width: 40%;
        background-color: white;
        position: relative;
        bottom: 65%;
        left: 35%;
        height: 70px;
        border-radius: 7px;
    }
}


.table{
    // width: 40%;
    background: #F4F4F4;
    border-radius: 10px
}
#rboder{
    line-height: 0.1;
}
#rrboder{
    line-height: 0.1;
}
#arboder{
    height: 200px;
}
.table{
    display: flex;
    justify-content: center;
}
.barasize{
    width: 85%;
    
}
.onetable{
    display: flex;
}
.fj{
    position: relative;
    left: 7%;
    top: 30%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    
    color: #000000
}

.refer{
    width: 100%;
    background: rgba(114, 80, 157, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 370px;
    border-radius: 10px;
}
.gift{
    margin-top: 25px;
}
.writtenrefer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #72509D;
}
.pwrittenrefer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    
    color: #72509D
}
.pricingRow {
    height: 50px !important;
}

.RFY{
    display: flex;
    width: 100%;
    height: 60%;
    .Rfriend {
        width: 37%;
        height: 67%;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-right: 2%;
        margin-left: 12%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .Ryou {
        width: 37%;
        height: 67%;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-left: 2%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
#price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 650;
    font-size: 15px;
    line-height: 33px;
    /* identical to box height */
    margin-top: 7%;
    text-align: center;
    margin-bottom: 3%;
    color: #000000;
}
#reward{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    /* identical to box height */
    
    text-align: center;
    line-height: 0;
    margin-top: 0px;
    
    color: #818181
}
.uperemail{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    
    color: #000000
}
#dibba{
    position: relative;
    width: 83%;
    height: 50px;
    left: 10%;
    top: 10%;
    
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}
.line1by2{
    position: relative;
    width: 100%;
    height: 0px;
    left: 0%;
    margin-top: 8%;
    margin-bottom: 10%;
    
    border: 1px solid #C4C4C4;
}
.bullet{
    display: flex;
}
h3{
    margin-left: 5%;
}
#anda{
    height: 100%;
    margin-top: 1%;
}
.detail{
    position: relative;
    left: 9%;
}

#motakaro{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000
}
#motakarolc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    text-transform: capitalize;
    
    color: #000000;
}
.rating{
    display: flex;
}
.toprate{
    margin-left: auto;
}
.fmarks{
    justify-content: center;
    position: relative;
    width: 9%;
    height: 56px;
    top: 15%;
    
    background: #72509D;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}
#marks{
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;

    position: relative;
    width: 9%;
    height: 56px;
    top: 15%;
    
    margin-left: 2%;
    margin-bottom: 5%;
    
}
.ratingbolcks{
    display: flex;
    
}
#no{
    position: relative;
    left: 38%;
    top: 28%;
}
#nno{
    position: relative;
    left: 38%;
    top: 28%;
    color: #FFFFFF;
}
#rboder{
    border: 0;
    
}
@media screen and (max-width: 1170px){
    .two{
        display: flex;
    }
}
@media screen and (max-width: 1170px){
   

    #reward{
        font-size: 9px;
    }
    #price{
        font-size: 10px;
    }
    @media screen and (max-width: 900px) {
        .two {
            display: block;
        }
        .naqsha {
            height: 430px;
        }
        #rboder {
            line-height: 2;
        }
        
        #rrboder {
            line-height: 2;
        }
        
        #arboder {
            height: 200px;
        }
}
@media screen and (max-width: 730px) {
    .naqsha {
        height: 354px;
    }
}
@media screen and (max-width: 660px){
    .naqsha{
        height: 330px;
    }
}
@media screen and (max-width: 555px) {
    .naqsha {
        height: 270px;
    }
}
@media screen and (max-width: 480px) {
    .naqsha {
        height: 229px;
    }
}
@media screen and (max-width: 680px){
    .mappa{
    position: relative;
    bottom: 85%;
    left: 35%;
}

}
}