.landingContainer{
    min-width: 450px;
    .modalContainer{
        position:relative;
        background-color:#000000;
        padding:2rem 1rem;
        width:70%;
        top:-90px;
        height:max-content;
        @media (min-width:768px) {
            width:80%;
        }
        @media (min-width:900px){
            justify-content: flex-start;
        }
        @media (min-width:1024px){
            justify-content: space-evenly;
            width:70%;
        }
        
        
    }
}

