@import "../utillities_config";
.footerWrapper{
    display: block;    
    background-color: $SearchColor;
    min-width:  850px;
    #upperFooter{
        background-color: $secondaryColor;
    }
    .mailingList{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:300px;
        h2{
            font-size: 1rem;
            font-weight: 600;
            line-height: 46px;
            text-align: center;
            color:#FFFFFF;
            margin:2rem 0;
            @media (min-width:1024px){
                font-size: 3.5rem;
            }
            
            @media (min-width:768px){
                font-size: 2.5rem;
            }

            @media (min-width:450px){
                font-size: 1.5rem;
            }
        }
        .socialMedia{
            width:250px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin:2rem 0;
            @media (min-width:1024px){
                width:500px;
            }
            @media (min-width:768px){
                width:400px;
            }
        }
    }

    .main-footer{
        padding : 3rem 3rem;
        padding-bottom: 1rem ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 1368px;
        margin:0 auto;
        .linksSection{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 1rem;
            @media (max-width : 768px){
                display: grid;
                gap:1.5rem;
                grid-template-columns: repeat(2,1fr);
            }
            @media (max-width : 450px) {
                display:block;
                align-self: center;
                .main-elements{
                    margin-top: 1rem;
                }   
            }
            
        }
        .main-elements{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            div{
                display: flex;
                flex-direction: column;
                a{
                    color: #3F3F3F;
                    line-height: 28px;
                    font-size: 0.9rem;
                }
            }
            h3{
                font-size:1.5rem;
                font-weight: 600;
            }
            
        }
        .copyrights{
            text-align: center;
            line-height: 15px;
            font-size: 1rem;
            margin-bottom : 2rem;
            a{
                text-transform: uppercase;
                font-family: Poppins;
                font-weight: 600;
                line-height: 15px;
                text-align: center;
                margin: 0 1rem;
    
            }
            @media (max-width:800px){
                display: flex;
                flex-direction: column;

                a{
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
        @media (max-width : 768px){
            display: block;
        }
    }
}