@import "../utillities_config";
.footerWrapper{
    display: flex;
    flex-direction: column;


    .mailingList{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $secondaryColor;
        height:400px;
        h2{
            font-size: 1rem;
            font-weight: 600;
            line-height: 46px;
            text-align: center;
            color:#FFFFFF;
            margin:2rem 0;
            @media (min-width:1024px){
                font-size: 3rem;
            }
            
            @media (min-width:768px){
                font-size: 2rem;
            }
        }
        .socialMedia{
            width:50%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin:2rem 0;
        }
    }
}