//Desktop
@import "./../utillities_config";

.container{
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 3rem;

    .searchBar{
        display:flex;
        flex-direction: row;
    }

    .menu-desktop{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span{
            display: flex;
            flex-direction: column;
            margin: 1rem 1rem;
            img{
                width: 32px;
                height: 23px;
                align-self: center;
            }
            a{
                font-size: 14px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                color: #818181;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }
            &:hover {
                color:$secondaryColor;
                fill: $secondaryColor;
            }
        }
        
 
    }
    max-width: 786px;
    @media (min-width:768px) {
        max-width: 1024px;
    }

    @media (min-width:1024px) {
        max-width: 1368px;
    }
}