//Desktop
@import "./../utillities_config";

.Header{
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 3rem;
    margin:0 auto; 
    max-width: 1368px;
    .searchBar{
        display:flex;
        flex-direction: row;


    }
    .menuMobile{
        display: none;
        @media(max-width:768px){
            display:block;
        }
    }

    .menu-desktop{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span{
            display: flex;
            flex-direction: column;
            margin: 1rem 1rem;
            img{
                width: 32px;
                height: 23px;
                align-self: center;
            }
            a{
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                color: #818181;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }
            &:hover {
                color:$secondaryColor;
                fill: $secondaryColor;
            }
        }
        
        @media (max-width:768px){
            display: none;
        }
    }
    min-width:490px;
}
.Drawer{
    span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
}