@import "./../../mainLayout/utillities_config";

.ProductContainer{
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color:$primaryFontColor;
        font-size: 0.7rem;
    }
    .topNavigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sliderProduct{
        width:500px;
        background-color: #FFF;
        padding:20px;
        height:100%;

        .product-image-slider{
            .swiper-slider{
                padding-top: 100%;
                overflow: hidden;
                position: relative;

                img{
                    position: absolute;
                    top:100px;
                    left:0;
                    // width:100%;

                }

                
            }
            .swiper-button-prev{
                left: -13px;
                color: white;
                height: 56px;
                border-top-right-radius: 119%;
                border-bottom-right-radius: 119%;
                width: 52px;
                background: #00000033;
                &:after{
                    font-size: 32px;
                }
            }
            .swiper-button-next{
                right: -13px;
                color: white;
                height: 56px;
                border-top-left-radius: 119%;
                border-bottom-left-radius: 119%;
                width: 52px;
                background: #00000033;
                &:after{
                    font-size: 32px;
                }
            }
        }

        .product-image-slider-thumbs{
            .swiper-slide{
                cursor: pointer;
                &-thumb-active{
                    border-color:$secondaryColor;
                }
            }

            &-wrapper{
                width:100%;
                padding-top: 100%;
                overflow: hidden;
                position: relative;
                
                img{
                    position: absolute;
                    top:0;
                    left:0;
                    // width:100%;
                }
            }
        }
    }
}  