@import "./../../mainLayout/utillities_config";

.ProductContainer{
    font-family: "Poppins";
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    max-width: 1368px;
    a{
        text-decoration: none;
        color:$primaryFontColor;
        font-size: 0.7rem;
    }
    .topNavigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .productDetails{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 2fr;     
        .sliderProduct{
            grid-column: 1/2;
            padding: 0 0;
            width:500px;
            background-color: #FFF;
            padding-top:20px;
            padding-bottom: 20px;
            height:100%;
            .swiper{
                margin-left:auto;
                margin-right:0;
            }
            .product-image-slider{
                .swiper-slider{
                    padding-top: 100%;
                    overflow: hidden;
                    position: relative;
    
                    img{
                        position: absolute;
                        top:100px;
                        left:0;
                        // width:100%;
    
                    }
    
                    
                }
                .swiper-button-prev{
                    left: -13px;
                    color: white;
                    height: 56px;
                    border-top-right-radius: 119%;
                    border-bottom-right-radius: 119%;
                    width: 52px;
                    background: #00000033;
                    &:after{
                        font-size: 32px;
                    }
                }
                .swiper-button-next{
                    right: -13px;
                    color: white;
                    height: 56px;
                    border-top-left-radius: 119%;
                    border-bottom-left-radius: 119%;
                    width: 52px;
                    background: #00000033;
                    &:after{
                        font-size: 32px;
                    }
                }
            }
    
            .product-image-slider-thumbs{
                .swiper-slide{
                    cursor: pointer;
                    &-thumb-active{
                        border-color:$secondaryColor;
                    }
                }
    
                &-wrapper{
                    width:100%;
                    padding-top: 100%;
                    overflow: hidden;
                    position: relative;
                    
                    img{
                        position: absolute;
                        top:0;
                        left:0;
                        // width:100%;
                    }
                }
            }
        }
        .productInformation{
            grid-column: 2/5;
            h6{
                font-size: 0.8rem;
            }
            p{
                font-size: 0.6rem;
                color:$primaryFontColor;
            }
            #productDescription1{
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
                div{
                    &:nth-child(1){
                        padding:8px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $secondaryColor;
                        border-radius: 5px;
                        h6{
                            font-size: 0.8rem;
                            font-weight: bold;
                        }
                    }
                    &:nth-child(2){

                        padding:8px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        border: 1px solid $primaryFontColor;    
                        border-radius: 5px;
                    }
                }
                .Cards{
                    display: grid;
                    gap:0.5rem;
                    grid-template-columns: repeat(3,1fr);
                }
            }

            #productDescription2{
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
                .Cards2{
                    display: grid;
                    gap:0.5rem;
                    grid-template-columns: repeat(3,1fr);
                    div{
                        padding:8px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        border: 1px solid $primaryFontColor;    
                        border-radius: 5px;
                    }
                }

            }
            #productDescription3{
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
                width:100%;
                .carousel{
                    button{
                        color:$secondaryColor;
                        border-color: $secondaryColor;
                    }
                    h6{
                        color:$primaryFontColor;
                    }
                }
            
            }
            #productTotal{
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
                width:"100%";
                Button{
                    height:"50px";
                }
                p{
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    color:$primaryFontColor;
                    font-size: 0.8rem;
                    text-align: left;
                }
            }
        }
    }

    .productDetailTab{
        width:100%;
        padding: 1.3rem 0.4rem;
        border: 1px solid #818181; 
        border-radius: 0.2rem;
        button{
            height:80px;
            background-color: transparent;
            color:$primaryFontColor;
            border-radius: 0.2rem;
            width:100%;
            font-size: 1rem;
            &[aria-selected="true"]{
                background-color: $secondaryColor;
                color:#FFF;

            }
        }
        .MuiTabs-flexContainer{
            display:grid;
            gap:2rem;
            grid-template-columns: repeat(3,1fr);
            justify-items: center;
        }
        .MuiTabs-indicator{
            background-color: transparent;
        }
    }
    .DetailList{
        .MuiListItemIcon-root{
            color:$secondaryColor;
            font-weight: 700;
        }
    } 
}  