* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
@import "~react-image-gallery/styles/css/image-gallery.css";
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* background: transparent; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* background: #aebaca; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* background: #aebaca; */
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display-none {
  display: none;
}
